<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
  <script type="text/javascript" src="crypto-js.js"></script>

  <script>
    function checkPassword(event) {
      // // get teh two passwords entered
      const password1 = document.getElementById("password1").value;
      const password2 = document.getElementById("password2").value;
      let passwordValid = false;
      let message = "";
      console.log("\n\nRegister check password\n\n\n");
      if (password1 == ""){
        message = "Please Enter Password";
      }
      else if(password2 ==""){
        message = "Please Re-enter Password";
      }
      else if(password1 != password2){
        message = "Passwords Did Not Match";
      }
      else{passwordValid = true;}

      if(!passwordValid){
        document.getElementById("message").innerText = message;
        event.preventDefault();
      }
      else{
        let salt = CryptoJS.lib.WordArray.random(8);
        document.getElementById("salt").value = salt;

        let hash = CryptoJS.SHA256(password1 + ":" + salt).toString(CryptoJS.enc.Hex);
        document.getElementById('hash').value = hash;

        console.log("register view: __________\n " + hash+ " | salt: "+ salt);
      }
    }
  </script>
</head>

<body>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light" style="width:50%">
          <div class="text-center" >
            <h3 class="text-primary" style="margin-top:50px;">Change Password</h3>
          </div>
          <form onSubmit="return checkPassword(event);" method="post">
            <div class="p-2">
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                <input id="password1" type="password" class="form-control" placeholder="Password" required>
              </div>
              <div class="input-group mb-3" >
                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                <input id="password2" type="password" class="form-control" placeholder="Re-enter Password" required>
              </div>

              <div>
                <p id="message" class="text-danger" style="height:25px">
                  <%-locals.message%>
                </p>
              </div>

              <input type="hidden" id="hash" name="hash">
              <input type="hidden" id="salt" name="salt">
              <div class="text-center">
                <button class="btn btn-primary mt-2" type="submit">
                  Change Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>