<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enter Password</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
  
  <script type="text/javascript" src="crypto-js.js"></script>

  <script>
    function checkPassword(event) {
      password = document.getElementById("password").value;
      username =document.getElementById("username").value;
      salt = document.getElementById("salt").value;

      //put the hash pass in the dom so it can be posted
      var hashPass = CryptoJS.SHA256(password+ ":" + salt).toString(CryptoJS.enc.Hex);
      document.getElementById("hashedPassword").value = hashPass;

      //Post will occur now, the server will check the credentials afterward.


    }    
  </script>
</head>

<body>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
          <div class="text-center">
            <h3 class="text-primary">Sign In</h3>
          </div>
          <form id="passwordForm" onSubmit="return checkPassword(event);" method="post">
            <div class="p-4">
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                <input id="password" type="password" class="form-control" autofocus="autofocus" placeholder="password">
              </div>
              <div>
                <p id="message" class="text-danger">
                  <%-locals.message %>
                </p>
              </div>
              <input type="hidden" id="username" name="username" value="<%-locals.username %>">
              <input type="hidden" id="salt" name="salt" value="<%-locals.salt %>">
              <input type="hidden" id="hashedPassword" name="hashedPassword" value="">
              <div class="text-center">
                <button class="btn btn-primary  mt-2" type="submit">
                  Login
                </button>
               </div>
              <p class="text-center mt-5">Don't have an account?
                <span class="text-primary">Sign Up</span>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>