<!DOCTYPE html>
<html>


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enter Login</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
  <script>
    function checkUser(event) {
      username = document.getElementById("username").value;
      if(username ==""){
        document.getElementById("message").innerHTML = "Please enter a username";
        event.preventDefault();
      }
    }
  </script>

</head>

<body>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
          <div class="text-center">
            <h3 class="text-primary">Sign In</h3>
          </div>
          <form onSubmit="return checkUser(event);" method="post">
            <div class="p-4">
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary">
                  <i class="bi bi-person-plus-fill text-white"></i>
                </span>
                <input id="username" name="username" type="text" class="form-control" autofocus="autofocus" placeholder="Username">
              </div>
              <div>
                <p id="message" class="text-danger">
                  <%- locals.message %>
                </p>
              </div>
              <div class="text-center">
                <button class="btn btn-primary mt-2" type="submit">
                  Next
                </button>
              </div>
              <p class="text-center mt-5">Don't have an account?
                <span class="text-primary"><a href="/register">Sign Up</a></span>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>